body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    // background-image: url('src/assets/black8.jpg');
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center; 
}
html{
    margin: 0;
    height: 300vh;
    overflow: scroll;
}